In [ ]:
import pandas as pd
import numpy as np 
df= pd.read_csv('Iris.csv')
df.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

df.info()

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             150 non-null    int64
 1   SepalLengthCm  150 non-null    float64
 2   SepalWidthCm   150 non-null    float64
 3   PetalLengthCm  150 non-null    float64
 4   PetalWidthCm   150 non-null    float64
 5   Species        150 non-null    object
dtypes: float64(4), int64(1), object(1)
memory usage: 7.2+ KB

In [ ]:
x= df.drop(['Id' , 'Species'], axis=1)
y= df['Species']
from sklearn.model_selection import train_test_split
x_train, x_test , y_train , y_test =train_test_split(x, y,test_size = 0.2 , random_state=47)
print(x_train.shape)
print(x_test.shape)

(120, 4)
(30, 4)

In [ ]:
from sklearn.neighbors import KNeighborsClassifier
knn = KNeighborsClassifier(n_neighbors=3)
knn.fit(x_train, y_train)
from sklearn.metrics import classification_report, accuracy_score
prediction2 = knn_model.predict(x_test)
print('classification Report:\n', classification_report(y_test,prediction2))
accuracy = accuracy_score(prediction2, y_test)
print(accuracy)

NameError: ignored

In [ ]:
from sklearn.svm import SVC
svc_model = SVC()
svc_model.fit(x_train,y_train)
from sklearn.metrics import classification_report, accuracy_score
prediction4 = svc_model.predict(x_test)
print('classification Report:\n', classification_report(y_test,prediction4))
accuracy = accuracy_score(prediction4, y_test)
print(accuracy)